* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    touch-action: none;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper {
    width: 600px;
    min-height: 400px;
    position: relative;
    overflow-x: hidden;
    display: inline-block;
}

.swiper-container {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
}

.swiper-item {
    flex: 0 0 auto;
    width: 100%;
    height: 100%;
}

.swiper-item img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.swiper-spinner {
    width: 0%;
    height: 5px;
    background-color: blue;
}

.swiper-buttons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 100px;
    width: 100%;
    user-select: none;
}

.swiper-buttons button {
    margin: 5px;
    padding: 10px 20px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}


